body {
    overflow-x: hidden; 
    overflow-y: hidden; 
    font-family: 'Mouse Memoirs', sans-serif;
    //font-size: 1.5em;

    &::-webkit-scrollbar {
        width: 10px;

        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: rgb(170, 170, 170);
        padding: auto 1em;
        
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        /* color of the scroll thumb */
        border-radius: 2px;
        border: 1px solid rgb(196, 196, 196);
        /* roundness of the scroll thumb */
        //border:1px solid white;  /* creates padding around scroll thumb */

    }

    .caixa-1{
        height: 100vh;
        background: linear-gradient(180deg, #ABC9EC 0%, #327cd1 100%);      

        h1 {
            font-size: 4em;
        }
    
        #q_equipes {
            width: 100%;
            font-size: 1.5em;
            padding: 0.25em 0.3;
        }
    
        textarea {
            text-transform: capitalize;
            resize: none;
    
            &::-webkit-scrollbar {
                width: 10px;
    
                /* width of the entire scrollbar */
            }
    
            &::-webkit-scrollbar-track {
                background: rgb(170, 170, 170);
                padding: auto 1em;
                
                /* color of the tracking area */
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: rgb(255, 255, 255);
                /* color of the scroll thumb */
                border-radius: 2px;
                border: 1px solid rgb(196, 196, 196);
                /* roundness of the scroll thumb */
                //border:1px solid white;  /* creates padding around scroll thumb */
    
            }
        }

        button{
            font-size: 2em !important;
    
            &:hover{
                outline: 3px solid black;
            }
        }
    }
    
    #equipes{
        padding-top: 10em;
        padding-bottom: 15em;
        background: linear-gradient(180deg, #327cd1 0%, #ABC9EC 100%);    
        
        h2{
            font-size: 3em !important;
            background-color: rgba(255, 255, 255, 0.418);
        }
        hr{
            height: 0.5em !important;
        }
        span{
            text-transform: capitalize;
            font-size: 2em;
        }
    }
}